<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About/Contact</title>
    </head>
    <br>
        <h1><b><u>Education</b></u></h1>
        <p>B.S. Electrical Engineering and Computer Science, May 2007</p>
        <p>University of California – Berkeley, CA.</p>
        </br>
        <p>M.S. Computer Science, In Progress</p>
        <p>Georgia State University – Atlanta, GA</p>
        <p>Expected Graduation: June 2027</p>
        <h1><b><u>Experience</b></u></h1>
        <p>NCR Voyix (2017–2024)</p>
        <p>Software Engineer II</p>
        </br>
        <p>Omnico Group (2015– 2016)</p>
        <p>Software Engineer</p>
        </br>
        <p>NCR Corporation (2007–2014)</p>
        <p>Software Engineer II</p>        
        <h1><b><u>Contact</b></u></h1>
        <p>E-Mail: srobles5@student.gsu.edu</p>
        <p>Phone: 770-765-0413</p>
        <p>LinkedIn: <a href="https://www.linkedin.com/in/samuel-robles-195b219b/">https://www.linkedin.com/in/samuel-robles-195b219b/</a></p>
        <p>GitHub: <a href="https://github.com/yosammy01">https://github.com/yosammy01</a></p>
    </body>
</html>