<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NetworkingConcepts</title>
    </head>
    <body>
        <h1>Networking Concepts</h1>
        <h2>• DNS</h2>
        <p>Domain resolution (nslookup or dig)</p>
        <h2>• IP Addressing</h2>
        <p>IPv4 / IPv6 resolution</p>
        <h2>• Protocols</h2>
        <p>HTTP vs HTTPS, headers, status codes</p>
    </body>
</html>